# Environment
.env
.env.*

# Dependencies
node_modules/
**/node_modules/

# Build
dist/
**/dist/

# Angular
.angular/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db